<!--
    DISCLAIMER:
        This template assumes a Module document in the datacontext
        -> should be called like this: {{> GenericModule data}}
-->
<template name="GenericModule">
    <div class="panel panel-default">
        <div class="panel-heading">
	        {{> StateLabel state=state class="pull-right"}}
            <h3 class="panel-title"><a href="/module/{{_id}}">{{name}}</a></h3>
        </div>

	    <div class="panel-body">
            <p>
	            <span class="label label-default">{{subModuleCount}}</span>
	            submodule{{#unless single subModuleCount}}s{{/unless}}
            </p>
            <h6>Sent events</h6>

            {{> ExpandableEventsList sentEvents}}
        </div>
    </div>
</template>