<!--
    DISCLAIMER:
        This template assumes an Events cursor or array in the datacontext
        -> should be called like this: {{> ExpandableEventsList eventsCursor=events}}
-->
<template name="EventDetailPage">
	<p></p>

	<div class="row">
		<div class="col-md-3">
			<ul class="events list-group limitted-height">
				{{#each eventsCursor}}
					<li class="list-group-item js-item{{#if selected this}} active{{/if}}">
						{{> EventLineView event=this module=../module}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-md-9">
			{{#if selectedEvent}}
				{{> JsonView object=selectedEvent}}
			{{else}}
				Nothing selected
			{{/if}}
		</div>
	</div>

</template>