<template name="modulesGeneralInfo">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Overall info</h3>
        </div>

        <div class="panel-body">
            <h4>Modules</h4>
            <p><span class="label label-default">{{totalNumberOfModules}}</span> modules registered</p>

            <h4>Events</h4>
            <p><span class="label label-default">{{totalNumberOfEvents}}</span> events registered</p>
        </div>
    </div>
</template>