<!--
    DISCLAIMER:
        This template assumes a Module document in the datacontext
        -> should be called like this: {{> GenericModule data}}
-->
<template name="GenericModule">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h6>Sent events</h6>
                    <ul class="list-group">
                        {{#each event in sentEvents}}
                            <li class="list-group-item">{{> GenericEvent event}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>
    </div>

</template>